.dash-container{
    background-color: #4a69bd;
    height: 100vh;
    width: 100%;
    display: flex;
    
}

header{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    
    
}

header h1{
    padding-left: 50px;

}

.menu-list ul li {
    padding-top: 50px;
    list-style-type: none;
    font-size: 30px;
    
}

.menu-list ul li a {
    color: white;
}