.acceuil-page h1 {
    text-align: center;
    margin-top: 20px;
    color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
}



.card {
    margin: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #327383;
    color: wheat;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.card .statut {
    margin: 30px 0;
    font-size: 18px;
    color: #be1010;
}

@media screen and (max-width: 768px) {
    .card {
        margin: 10px;
        padding: 20px;
    }

}

.connexion {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: wheat;

}

.connexion .entrer {
    width: 60px;
    height: 60px;
    padding: 10px;
    color: wheat;
    transition: 0.3s;
}

.connexion .entrer:hover {
    transform: scale(1.02);
    cursor: pointer;
    color: #cdd9e7;
}