.creer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100vh;
    background-color: #3b5998;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.creer-form {
    background: linear-gradient(to bottom, #4a69bd, #31ad8d);
    padding: 50px 40px;
    padding-bottom: 80px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.creer-form input:hover {

    box-shadow: 1px 2px 2px #31ad8d;
}

.creer-form label {
    margin-bottom: 5px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.creer-form input[type="text"],
.creer-form input[type="password"],
.creer-form input[type="email"] {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
    font-size: 16px;
    background-color: transparent;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    margin-bottom: 10px;

}


.creer-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;

}

.creer-btn {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    background-color: #9ab4d1;
    border: none;
    border-radius: 25px;
    color: #3b5998;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.creer-btn:hover {
    transform: scale(1.02);
}