.acceuil-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  a:where(:not(.btn)) {
    transition: color 200ms;
  }

  button {
    transition: border-color 250ms;
  }
}