/* 1. Manery ny light mode */
:root {
  color-scheme: light !important;
}

/* 2. Manery ny input rehetra hanana border hita maso */
input,
select,
textarea {
  background-color: #ffffff !important;
  color: #1f2937 !important;
  /* Ity no manampy an'ilay sisiny hita maso */
  border: 1px solid #d1d5db !important;
  /* Loko gray-300 */
  border-radius: 0.5rem !important;
  /* Manome endrika boribory kely */
  padding: 0.5rem 0.75rem !important;
  /* Manome elanelana ny soratra */
}


/* 3. Manasongadina ny sisiny rehefa kitihina (focus) */
input:focus,
select:focus {
  outline: #9ca3af !important;
  
}


/* 4. Mba ho hita tsara ny placeholder */
::placeholder {
  color: #9ca3af !important;
  /* gray-400 */
  opacity: 1;
}

body {
  background-color: #f3f4f6 !important;
}